/* common */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* end common  */

/* debug */
.debug * {
	border: 1px dashed;
}

.debug header {
	height: 80px;
	background-color: #add8e6;
}
.debug section {
	height: 480px;
	background-color: #ffffff;
}

.debug footer {
	height: 80px;
	background-color: #7fffd4;
}

/* end debug  */

/* utilities */

.flex-container {
	display: flex;
	justify-content: center;
	align-content: center;
}
.flex-container1 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-container2 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-content: center;
}
.flex-container3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* end utilities  */

/* header  */
header {
	padding-top: 1rem;
	padding-bottom: 1rem;

	background-color: rgb(127, 219, 255);
}
.dimension {
	width: 70%;
}
.logo {
	padding-left: 0.4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 20%;
	background-color: #daa520;
}
.login {
	padding-right: 0.4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;

	text-align: end;
	width: 20%;
	background-color: #daa520;
}
p {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 68%;
	background-color: #daa520;
}
/* end header  */

/* body  */
body {
	background-color: #23272a;
}
.bg-color {
	background-color: #add8e6;
}
.intestation {
	text-align: start;
}
.main {
	margin-top: 3rem;
	width: 50%;
	margin-bottom: 3rem;
	background-color: #ee82ee;
}

.bg-color-main {
	background-color: #000099;
	min-height: 600px;
}
.main1 {
	width: 40%;
	margin-bottom: 3rem;
	background-color: #1e90ff;
}
.main2 {
	width: 20%;
	background-color: #ffc0cb;
}
.bg-color-main1 {
	background-color: white;
	min-height: 600px;
}
.bg-color-main2 {
	background-color: #d3d3d3;
	min-height: 600px;
}
.bg-color-main3 {
	background-color: #d3d3d3;
	min-height: 900px;
}
.bg-color-main4 {
	background-color: #23272a;
	min-height: 600px;
}
.main3 {
	margin-top: 3rem;
	width: 60%;
	margin-bottom: 3rem;
	background-color: #228b22;
}
.main4 {
	width: 20%;
	margin-bottom: 3rem;
	background-color: #f08080;
}
.main5 {
	width: 10%;
	background-color: #20b2aa;
} /* end body  */
.main6 {
	margin-top: 0.2rem;
	margin-bottom: 2.7rem;
}

/* end body  */
/* footer  */
footer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 4rem;
	width: 60%;
}
.bottone {
	background-color: #ffb6c1;
	padding: 0.2rem;
}
.bg-color-main5 {
	min-height: 80px;
	background-color: #7fffd4;
}
